* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Outfit", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
}

nav h1 {
    font-size: 30px;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: white;
}

section .start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.start button {
    background-color: chocolate;
    font-size: 15px;
    padding: 5px 15px;
}

.start img {
    width: 350px;
    margin-left: 40px;
}

.perfect {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}

.per h1 {
    font-size: 50px;
}

.per button {
    background-color: chocolate;
    font-size: 15px;
    margin-top: 20px;
    padding: 5px 15px;

}

.image {
    width: 350px;
}

.image img {
    width: 100%;
}

.pro h1 {
    font-size: 30px;
}

.pro {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
}

.mocha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.mocha1,
.mocha2,
.mocha3 {
    border: 1px solid yellow;
    padding: 40px;
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    border-radius: 5px;


}

.btn1 {
    background-color: chocolate;
    font-size: 10px;
    text-align: center;
    margin-left: 40px;
    width: 100px;
    height: 30px;

}

.line-con {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.line {
    width: 40%;
    height: 3px;
    background-color: chocolate;
}

.footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.contact h1 {
    margin-left: -5px;
    font-size: 30px;
}

span {
    color: chocolate;
}

.line-con {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 80px;
}

.line {
    width: 40%;
    height: 3px;
    background-color: chocolate;
}

.copy h1 {
    margin: -60px;
    text-align: center;



}